.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    height: 695px;
    background-image: url('../Imagenes/Rga.jpg');
    background-size: 100% 100%;
    margin-right: 0px;
    margin-bottom: 3px;
}

}

.formcontent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    width: 113%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    top: -83px;
    left: 695px;
    height: 215px;
    margin-top: 0px;
}
